body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

.emp-photo{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.photo-img{
    text-align: center;
}

.photo-img img{
    width: 70%;
    height: 100%;
}

.photo-img video{
    padding-top: 10px;
    width: 80%;
    height: 100%;
}

.photo-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.photo-head{
    text-align: center;
    margin-bottom: 5%;
}

.photo-head h5{
    font-weight: 600;
    font-size: 35px;
}